<template>
  <div>
    <div class="container">
      <div class="row mt-5">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Service List Table</h3>
              <div class="card-tools">
                <button class="btn btn-success" @click="newModal">
                  Add New Service
                  <i class="fas fa-user-plus fa fw"></i>
                </button>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>Id</th>
                    <th>User_ID</th>
                    <th>Room_number</th>
                    <th>Remark</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(service,index) in services" :key="index">
                    <td>{{index+1}}</td>

                    <td>{{service.user_id}}</td>
                    <td>
                      <a
                        class="btn btn-primary mr-1"
                        v-for="(room_number,index) in service.room_number"
                        :key="index"
                      >{{room_number}}</a>
                    </td>
                    <td>{{service.remark}}</td>
                    <td>
                      <button class="btn btn-info" @click="editModal(service)">
                        <i class="fa fa-edit fa fw"></i>
                      </button>
                      <button class="btn btn-danger" @click="deleteService(service)">
                        <i class="fa fa-trash fa fw"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
      </div>
    </div>
    <div
      class="modal fade"
      id="addNew"
      tabindex="-1"
      role="dialog"
      aria-labelledby="addNewLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" v-show="editmode" id="addNewLabel">Update service</h5>
            <h5 class="modal-title" v-show="!editmode" id="addNewLabel">Add New Service</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form @submit.prevent="editmode ? updateService(services) : createService()">
            <div class="modal-body">
              <div class="form-group">
                <label class="typo__label">Room</label>
                <multiselect
                  v-model="form.room_number"
                  tag-placeholder="Add this as new Room Number"
                  placeholder="Search or add a Room Number"
                  :options="number"
                  :multiple="true"
                  :taggable="true"
                  @tag="addTagg"
                ></multiselect>
                <has-error :form="form" field="room_number"></has-error>
              </div>

              <div class="form-group">
                <link
                  type="text/css"
                  media="screen"
                  rel="stylesheet"
                  href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css"
                />
                <label class="typo__label">user</label>
                {{form.userid}}
                <v-select
                  v-model.number="form.userid"
                  :items="index"
                  item-text="name"
                  item-value="id"
                  label="Select user"
                  solo
                ></v-select>
                <has-error :form="form" field="userid"></has-error>
              </div>

              <div class="form-group">
                <label for="Remark">Remark</label>
                <textarea v-model="form.remark" class="form-control" rows="10"></textarea>
                <has-error :form="form" field="remark"></has-error>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
              <button v-show="editmode" type="submit" class="btn btn-success">Update</button>
              <button v-show="!editmode" type="submit" class="btn btn-primary">Create</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import Multiselect from "vue-multiselect";
export default {
  components: {
    Multiselect
  },
  data() {
    return {
      editmode: false,
      services: [],
      rooms: [],
      selectedRoom: [],
      number: [],
      index: [],
      user: "",
      form: new Form({
        id: "",
        userid: "",
        room_number: "",
        remark: ""
      })
    };
  },
  methods: {
    fetchRoom() {
      axios.get("api/room").then(response => {
        this.rooms = response.data.data;
        this.rooms.map(room => {
          this.number.push(room.room_number);
        });
        // console.log(this.number);
      });
    },
    addTagg(newTag) {
      const tag = [newtag];
      this.number.push(tag);
      this.form.room_number.push(tag);
    },
    updateService() {
      this.$Progress.start();
      this.form.put("api/service/" + this.form.id);
      $("#addNew").modal("hide");
      this.$Progress.finish();
    },

    editModal(service) {
      this.editmode = true;
      this.form.reset();
      $("#addNew").modal("show");
      this.form.fill(service);
      console.log(this.form.userid);
    },
    newModal() {
      this.editmode = false;
      this.form.reset();
      $("#addNew").modal("show");
    },
    deleteService(service) {
      this.$Progress.start();
      const url = `/api/service/${service.id}`;
      toast.fire({
        type: "success",
        title: "service Deleted successfully"
      });
      return axios.delete(url);
      this.$Progress.finish();
    },
    loadServices() {
      axios.get("api/allServices").then(response => {
        // console.log(response)
        this.services = response.data;
      });
    },
    createService() {
      this.$Progress.start();
      // this.form.post('api/user')
      // console.log(this.form.userid)
      // debugger

      axios.post("api/service", this.form).then(response => {
        // console.log(response);
        this.services.push(response.data);
        $("#addNew").modal("hide");
        toast.fire({
          type: "success",
          title: "service Created successfully"
        });
        this.$Progress.finish();
      });
    },
    loadUser() {
      axios.get("api/user").then(response => {
        // if(!response.data.data[1])
        this.user = response.data.data;
        this.index = this.user.filter(user => {
          if (user.id != 1) return user;
        });
      });
    }
  },
  created() {
    this.loadServices();
    this.fetchRoom();
    this.loadUser();
    // this.user();
    // setInterval(function(){this.loadUsers()},3000);
  }
};
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>




