<template>
 
<div>
<v-btn class="mx-2" fab dark color="red"
  
  :style="{left: '90%'}"

>
      <v-icon dark>add</v-icon>
    </v-btn>

</div>
  
</template>


<script>
export default {
    
}
</script>