<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
    <div class="bg-white">
        <mdb-datatable
            :data="data"
            striped
            bordered
        >
            <!--                      <template>-->

            <!--                <tr>-->
            <!--                    <td>ckjsdbck</td>-->
            <!--                    <td>ckjsdbck</td>-->
            <!--                    <td>ckjsdbck</td>-->
            <!--                    <td>ckjsdbck</td>-->
            <!--                </tr>-->
            <!--&lt;!&ndash;                <a href="#">kjxbk</a>&ndash;&gt;-->
            <!--            </template>-->

        </mdb-datatable>
    </div>
</template>
<script>
    // import {mapGetters} from 'vuex'
    import {mdbDatatable} from 'mdbvue';
    import organization from "./organization";
    // import {Data} from './Data.vue'
    export default {
        name: 'DatatablePage',
        props: ['tableData'],
        components: {
            mdbDatatable
        },
        data() {
            return {
                data: {
                    columns: [
                        {
                            label: 'Organization Name',
                            field: 'name',
                            sort: 'asc'
                        },
                        {
                            label: 'Scheduled Date',
                            field: 'scheduled_date',
                            sort: 'asc'
                        },
                        {
                            label: 'Assigned To',
                            field: 'assigned_to',
                            sort: 'asc'
                        },
                        {
                            label: 'Created On',
                            field: 'created_on',
                            sort: 'asc'
                        },{
                            label: 'Status',
                            field: 'status',
                            sort: 'asc'
                        },

                    ],
                    rows: []
                }
            }
        },
        computed: {},
        // ...mapGetters(['tableData']),


        watch: {
            tableData() {
                // this.data.rows = []

                this.getData()
                // this.tableData.map(dat => {
                //     this.data.rows.push({
                //         name: this.tableData[0].name,
                //         position: 'System Architect',
                //         office: 'Edinburgh',
                //         age: '61',
                //     })
                // })
            }
        },
        methods: {
            getData() {
                this.tableData.map(dat => {
                    this.data.rows.push({
                        name: dat.name,
                        scheduled_date: dat.scheduled_date,
                        assigned_to: dat.user.name,
                        created_on: dat.created_at,
                        status:dat.status
                    })
                })
            }
        },
        mounted() {
            this.getData()

        }
    }
</script>
<style>
tfoot{
    display: none;
}
</style>
