<template>
    <div>
        <div class="container mt-4">
            <div v-if="$gate.isAdmin()">
                <div class="row justify-content-center">
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="info-box">
            <span class="info-box-icon blue">
              <i class="fas fa-users fa-2x"></i>
            </span>

                            <div class="info-box-content">
                                <span class="info-box-text">Number of User</span>
                                <span class="info-box-number">900</span>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </div>
                    <!-- /.col -->
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="info-box">
            <span class="info-box-icon green">
              <i class="fas fa-door-closed fa-2x"></i>
            </span>

                            <div class="info-box-content">
                                <span class="info-box-text">Number of Room</span>
                                <span class="info-box-number">205</span>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </div>
                    <!-- /.col -->

                    <!-- fix for small devices only -->
                    <div class="clearfix visible-sm-block"></div>

                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="info-box">
            <span class="info-box-icon red">
              <i class="fas fa-bars fa-2x"></i>
            </span>

                            <div class="info-box-content">
                                <span class="info-box-text">Number of Floor</span>
                                <span class="info-box-number">5</span>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </div>
                    <!-- /.col -->
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="info-box">
            <span class="info-box-icon yellow">
              <i class="fas fa-clock fa-2x"></i>
            </span>

                            <div class="info-box-content">
                                <span class="info-box-text">Total Working Hour</span>
                                <span class="info-box-number">2,000</span>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </div>
                    <!-- /.col -->
                </div>
                      <div class="row justify-content-center">
                        <div class="col-md-8">
                          <div class="card">
                            <div class="card-header">Admin</div>

                            <div class="card-body">
                              <div class="box box-danger">
                                <div class="box-header with-border">
                                  <h3 class="box-title">All User</h3>
                                </div>
                                <div class="box-body no-padding">
                                  <ul class="users-list clearfix">
                                    <li v-for="user in users" :key="user.id">
                                      <router-link :to="`/userdetail/${user.id}`">
                                        <img :src="user.image" alt="User Image" />
                                      </router-link>
                                      <router-link
                                        :to="`/userdetail/${user.id}`"
                                        class="users-list-name"
                                      >{{user.name}}</router-link>
                                      <span class="users-list-date">{{user.type}}</span>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
            </div>

            <div v-if="!$gate.isAdmin()">
                <form>
                    <div class="row justify-content-center">
                        <div class="col-md-2"></div>

                        <div class="col-md-4">
                            <!-- <vue-checkbox-toggle> -->

                            <label>Choose Check In Time:</label>
                            <div class="form-group">
                                <div class="field">
                                    <div class="control">
                                        <label class="checkbox">
                                            <!-- {{form.intime}} -->
                                            <input
                                                type="checkbox"
                                                :disabled="!!checkin"
                                                v-model="form.intime"
                                                name="intime"
                                                @change="onChange()"
                                            />
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label>Choose Check Out Time:</label>

                            <div class="form-group">
                                <div class="field">
                                    <div class="control">
                                        <label class="checkbox">
                                            <input
                                                :disabled="!!checkout"
                                                type="checkbox"
                                                v-model="form.outtime"
                                                name="outtime"
                                                @change="onFunction()"

                                            />
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-2"></div>
                    </div>
                </form>
                <div class="row justify-content-center">
                    <div class="col-md-9 mt-2">
                        <div class="card">
                            <div class="card-header p-2">
                                <ul class="nav nav-pills">
                                    <li class="nav-item">
                                        <a
                                            class="nav-link active"
                                            href="#activity"
                                            @click="fetchReport('Daily')"
                                            data-toggle="tab"
                                        >Daily</a>
                                    </li>
                                    <li class="nav-item">
                                        <a
                                            class="nav-link"
                                            href="#timeline"
                                            data-toggle="tab"
                                            @click="fetchReport('Weekly')"
                                        >Weekly</a>
                                    </li>
                                    <li class="nav-item">
                                        <a
                                            class="nav-link"
                                            href="#settings"
                                            data-toggle="tab"
                                            @click="fetchReport('Monthly')"
                                        >Monthly</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="card-body">
                                <div class="tab-content">
                                    <div class="tab-pane active" id="activity">
                                        <report-list :reportData="reportData"></report-list>
                                    </div>
                                    <!-- /.tab-pane -->
                                    <div class="tab-pane" id="timeline">
                                        <report-list :reportData="reportData"></report-list>

                                        <!-- The timeline -->
                                    </div>
                                    <!-- /.tab-pane -->

                                    <div class="tab-pane" id="settings">
                                        <report-list :reportData="reportData"></report-list>
                                    </div>
                                    <!-- /.tab-pane -->
                                </div>
                                <!-- /.tab-content -->
                            </div>
                        </div>
                        <!-- /.nav-tabs-custom -->
                    </div>
                </div>
            </div>
        </div>
        <div v-if="$gate.isAdmin()">
        <div class="card text-center">
            <div class="row d-flex card-body align-items-baseline">
                <div class="col-4">
                    <div class="row">
                        <div class="col-sm-3">
                            <label>From:</label>
                        </div>

                        <div class="col-sm-8">
                            <input type="date" v-model="fromDate">
                        </div>
                    </div>

                </div>
                <div class="col-4" style="margin-left: 40px">
                    <div class="row">
                        <div class="col-sm-3">
                            <label>To:</label>
                        </div>

                        <div class="col-sm-8">
                            <input type="date" v-model="toDate">
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <button class="btn btn-success" @click="viewRecords">GO</button>
                </div>
            </div>

        </div>
        <div class="card">
            <div class="card-body">

                <DashboardTable v-if="tableData" :tableData="tableData" ></DashboardTable>
                </div>
            </div>
        </div>
    </div>
</template>
<style>
    input[type="checkbox"] {
        -webkit-appearance: none;
        width: 40px;
        height: 40px;
        background: white;
        border-radius: 6px;
        border: 3px solid #555;
    }

    input[type="checkbox"]:checked {
        background: #4007f5;
    }
</style>

<script>
    import {mapGetters} from 'Vuex'
    import DashboardTable from "./DashboardTable";
    import ReportList from "./ReportList";

    export default {
        components: DashboardTable,
        data() {
            return {
                fromDate: '',
                toDate: '',
                checkin_id: "",
                reportData: [],
                picker: null,
                users: {},
                check_ins: {},
                checkin: '',
                checkout: true,
                status: '',
                data: {},
                form: new Form({
                    id: "",
                    intime: "",
                    outtime: "",

                })
            };
        },
        props: [],
        computed: {
            ...mapGetters(['tableData'])
        },
        components: {
            ReportList
        },
        watch: {},
        methods: {
            viewRecords() {
                if (!this.fromDate) {
                    alert("Please select date.");
                    return
                }
                if (!this.toDate) {
                    alert("Please select date.");
                    return
                }
                this.$store.dispatch('getOrganizationRecords', {from: this.fromDate, to: this.toDate})
            },
            async getAllData() {
                await this.$store.dispatch('getData')
            },
            loadUsers() {
                if (this.$gate.isAdmin()) {
                    axios.get("api/user").then(({data}) => (this.users = data.data));
                }
            },
            async fetchReport(time) {
                let response = await axios.get(`api/checkin?userid=${this.userid}`);
                this.reportData = response.data;
            },
            onChange() {
                this.checkin = true
                this.checkout = ''
                console.log("The new value is: ", this.form.intime);
                this.$Progress.start();
                // this.form.post('api/user')
                this.form["userid"] = this.userid;
                // console.log(this.form.userid)
                axios.post("api/checkin", this.form).then(response => {
                    //  console.log(response.data.id);
                    this.checkin_id = response.data.id;
                    this.status = response.data.status
                    // localStorage.setItem("checkinId", this.checkin_id);
                    // localStorage.getItem('check')
                    toast.fire({
                        type: "success",
                        title: "Check in  Created successfully"
                    });
                    this.$Progress.finish();
                });
            },
            onFunction() {
                this.checkin = ''
                this.checkout = true
                console.log("The new value in out time: ", this.form.outtime);
                this.$Progress.start();
                let checkin_id = localStorage.getItem("checkinId");
                // console.log(checkin_id)
                axios.put("api/checkout/" + checkin_id);
                toast.fire({
                    type: "success",
                    title: "Check Out  Updated successfully"
                });
                this.$Progress.finish();
                window.localStorage.removeItem("checkinId");
            },
            loadCheckin() {
                axios
                    .get(`api/checkin?userid=${this.userid}`)
                    .then(({data}) => (this.check_ins = data.data));
            },
            async testCheckin() {
                let response = await axios.get('api/test-checkin')
                this.status = response.data.status
                if (this.status == "true") {
                    this.checkin = true
                    this.checkout = ''
                } else {
                    this.checkin = ''
                    this.checkout = true
                }
            }
        },
        async mounted() {
           await this.getAllData()
            this.testCheckin()
            this.userid = $('meta[name="user_id"]').attr("content");
            this.fetchReport("Daily");
            this.form.userid = this.userid;
            this.loadCheckin();
            this.loadUsers();
        }
    };
</script>


