<template>
    <tr>
        <td>jkdbc</td>
        <td>jkdbc</td>
        <td>jkdbc</td>
        <td>jkdbc</td>
    </tr>
</template>
<script>
    import {mapGetters} from 'vuex'
    export default {
        computed:{
            ...mapGetters(['tableData']),},
            mounted() {
            console.log("hii")
            }

    }
</script>
