<template>
    <div>

        <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-lg ">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title h4" id="myExtraLargeModalLabel">{{organization.name}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="card-body bg-light">

                                <div class="row">
                                    <div class="col-3">
                                        <label>Building:</label>
                                    </div>
                                    <div class="col-8">
                                        <input id="building" type="text" v-model="building.name"
                                               style="background-color:#f8f9fa;outline:none;border:none;max-width:175px;width: auto;"
                                               readonly>
                                        <i class="fa fa-edit" @click="buildingEdit"></i>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-3">
                                        <label>Floor:</label>
                                    </div>
                                    <div class="col-8">
                                        <input id="floor" type="text" v-model="floor.name"
                                               style="background-color:#f8f9fa;border:none;" readonly>
                                        <i class="fa fa-edit" @click="floorEdit"></i>
                                    </div>
                                </div>

                                <div class="mb-1">
                                    <b><u class="text-success">{{floor.room.length}} rooms</u> in this floor.</b></div>
                                <div class="card-body text-center" style="background-color:white;width:320px;height:250px; overflow: auto" >
                                    <div class="row justify-content-center align-content-center">
                                        <div class="col-3 ml-2 mr-2 mb-3" style="cursor:pointer;border-radius:10px;height:30px;width:150px;background-color:red;" v-for="room in floor.room" >
                                           <div @click="roomDetail(room)">{{room.name}}</div>
                                        </div>
                                    </div>


                                </div>
                                <div class="mt-2">
                                    <u class="text-success">5 people</u> involved in this floor.
                                </div>
                                    <textarea class="col-sm-12 pb-1" placeholder="Write a comment..." name="addComment"
                                              rows="4" cols="50"></textarea>
                                    <button class="btn btn-primary float-right">Add Comment</button>
                            </div>
                            </div>

                            <div v-if="showRoom" class="col-sm-6 bg-light">
                                <div class="d-flex align-items-baseline">
                                    <div class="d-flex">
                                        <h5 class="badge-primary" style="display:inline-block;width:auto;max-width: 100px">
                                            {{roomName}}
                                        </h5>
                                        <div class="text-success ml-2"> [Unassigned]</div>
                                    </div>
                                    <div>
                                        <button class="btn btn-primary ml-3" style="font-size: 9px">Reassign
                                        </button>
                                        <button
                                            button class="btn btn-primary ml-3" style="font-size: 9px">Close</button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-4">
                                        <div><label>Issued By:</label></div>
                                    </div>
                                    <div class="col-7">
                                        <div>Some Username</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-4">
                                        <div><label>Issued On:</label></div>
                                    </div>
                                    <div class="col-7">
                                        <div>2019/09/06</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-4">
                                        <div><label>Assigned To:</label></div>
                                    </div>
                                    <div class="col-7">
                                        <div>Some Username</div>
                                    </div>
                                </div>

                                <div class="card-body bg-light col-sm-11" name="showComment"
                                     style="height:440px;overflow: auto">


                                    <div class="phenom mod-attachment-type">
                                        <div class="phenom-creator">
                                            <div class="member js-show-mem-menu">
                                                    <span class="member-initials"
                                                          title="Admin"
                                                          aria-label="Admin">A</span>
                                            </div>
                                        </div>
                                        <div class="phenom-desc">
                                                <span class="inline-member js-show-mem-menu"
                                                      idmember="5d22c5b66c23ea86049b416f"><span
                                                    class="u-font-weight-bold"><b>Name</b></span>
                                            </span> created <span
                                            class="action-card">a</span> ticket for <b>ABC Organization</b>.
                                        </div>
                                        <div class="phenom-meta quiet"><span
                                            class="date"
                                            dt="2019-09-06T12:12:12.941Z"

                                            title="September 2, 2019 10:57 AM">Sep 2 at 10:57 AM</span><span
                                            class="js-spinner hide"><span
                                            class="spinner spinner--inline mod-left small"></span></span>
                                        </div>
                                    </div>
                                    <div class="border-bottom"></div>
                                    <div class="phenom mod-attachment-type">
                                        <div class="phenom-creator">
                                            <div class="member js-show-mem-menu">
                                                    <span class="member-initials"
                                                          title="Admin"
                                                          aria-label="Admin">A</span>
                                            </div>
                                        </div>
                                        <div class="phenom-desc">
                                                <span class="inline-member js-show-mem-menu"
                                                      idmember="5d22c5b66c23ea86049b416f"><span
                                                    class="u-font-weight-bold"><b>Name</b></span>
                                            </span> assigned <span
                                            class="action-card">organization</span> ticket to <b>Name</b>.
                                        </div>
                                        <div class="phenom-meta quiet"><span
                                            class="date"
                                            dt="2019-09-06T12:12:12.941Z"
                                            href="/c/JlYy9168/3-2#action-5d724d1c429846656097cec5"
                                            title="September 2, 2019 11:25 AM">Sep 2 at 11:25 AM</span><span
                                            class="js-spinner hide"><span
                                            class="spinner spinner--inline mod-left small"></span></span>
                                        </div>
                                    </div>
                                    <div class="border-bottom"></div>
                                    <div class="phenom mod-attachment-type">
                                        <div class="phenom-creator">
                                            <div class="member js-show-mem-menu">
                                                    <span class="member-initials"
                                                          title="Supervisor"
                                                          aria-label="Supervisor">S</span>
                                            </div>
                                        </div>
                                        <div class="phenom-desc">
                                                <span class="inline-member js-show-mem-menu"
                                                      idmember="5d22c5b66c23ea86049b416f"><span
                                                    class="u-font-weight-bold"><b>Name</b></span>
                                            </span> commented <span
                                            class="action-card">"Hello,How are you?"</span>on this ticket for
                                            <b>ABC</b> Organization.
                                        </div>
                                        <div class="phenom-meta quiet"><span
                                            class="date"
                                            dt="2019-09-06T12:12:12.941Z"
                                            href="/c/JlYy9168/3-2#action-5d724d1c429846656097cec5"
                                            title="September 3, 2019 11:30 AM">Sep 3 at 11:30 AM</span><span
                                            class="js-spinner hide"><span
                                            class="spinner spinner--inline mod-left small"></span></span>
                                        </div>
                                    </div>
                                    <div class="border-bottom"></div>
                                    <div class="phenom mod-attachment-type">
                                        <div class="phenom-creator">
                                            <div class="member js-show-mem-menu">
                                                    <span class="member-initials"
                                                          title="Admin"
                                                          aria-label="Admin">A</span>
                                            </div>
                                        </div>
                                        <div class="phenom-desc">
                                                <span class="inline-member js-show-mem-menu"
                                                      idmember="5d22c5b66c23ea86049b416f"><span
                                                    class="u-font-weight-bold"><b>Name</b></span>
                                            </span> assigned <span
                                            class="action-card">organization</span> ticket to <b>Supervisor's
                                            Name</b>.
                                        </div>
                                        <div class="phenom-meta quiet"><span
                                            class="date"
                                            dt="2019-09-06T12:12:12.941Z"
                                            href="/c/JlYy9168/3-2#action-5d724d1c429846656097cec5"
                                            title="September 3, 2019 2:35 AM">Sep 3 at 2:35 AM</span><span
                                            class="js-spinner hide"><span
                                            class="spinner spinner--inline mod-left small"></span></span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>


                </div>


            </div>
        </div>
    </div>

</template>
<script>

    export default {
        props:['building','floor','organization'],
        data(){
            return{
                showRoom:false,
                roomName:''
            }
        },
        methods:{
            roomDetail(room){
                this.showRoom=true
                this.roomName=room.name
            },
            floorEdit() {
                document.getElementById('floor').readOnly = false;
                document.getElementById('floor').focus();
            },
            buildingEdit() {
                document.getElementById('building').readOnly = false;
                document.getElementById('building').focus();
            },
        },
        mounted() {
            console.log(this.building)
            console.log(this.floor)
        }
    }
</script>
