
<template>
<div data-app>
  


  <v-layout row wrap>
    <v-flex xs12 sm6 md4>
      <v-menu
        ref="menu"
        v-model="menu"
        :close-on-content-click="false"
        :nudge-right="40"
        :return-value.sync="startDate"
        lazy
        transition="scale-transition"
        offset-y
        full-width
        min-width="290px"
      >
        <template v-slot:activator="{ on }">
          <v-text-field
            v-model="startDate"
            label="From:"
            prepend-icon="event"
            readonly
            v-on="on"
          ></v-text-field>
        </template>
        <v-date-picker v-model="startDate" no-title scrollable>
          <v-spacer></v-spacer>
          <v-btn flat color="primary" @click="menu = false">Cancel</v-btn>
          <v-btn flat color="primary" @click="$refs.menu.save(startDate)">OK</v-btn>
        </v-date-picker>
      </v-menu>
    </v-flex>
   
    <v-flex xs12 sm6 md4>
      <v-menu
        v-model="menu2"
        :close-on-content-click="false"
        :nudge-right="40"
        lazy
        transition="scale-transition"
        offset-y
        full-width
        min-width="290px"
      >
        <template v-slot:activator="{ on }">
          <v-text-field
            v-model="endDate"
            label="To:"
            prepend-icon="event"
            readonly
            v-on="on"
          ></v-text-field>
        </template>
        <v-date-picker v-model="endDate" @input="menu2 = false"></v-date-picker>
      </v-menu>
    </v-flex>
    
       <v-btn  @click="dSearch()" tile color="indigo" dark><i class="fa fa-search"> Search</i> </v-btn>

     
    
  </v-layout>
 
    <v-card >
    <v-card-title>
      User Table
      <div class="flex-grow-1"></div>
      <v-text-field
        v-model="search"
        append-icon="search"
        label="Search"
        single-line
        hide-details
      ></v-text-field>
    </v-card-title>
    <v-data-table
      :headers="headers"
      :items="user"
      :search="search"
    >
   
    <!-- <thead>
    <th v-for="(user,key) in user[0]" :key="key">{{ key }} 
    </th>
    </thead> -->
      <template v-slot:items="props">

      <td >{{ props.item.name }}</td>
      <td >{{ props.item.type }}</td>
      <td >{{ props.item.bio }}</td>
      <td >{{ props.item.email }}</td>
      <td >{{ props.item.updated_at }}</td>
      <td >{{ props.item.created_at }}</td>

    </template>
    </v-data-table>
  </v-card>
  <ul>
    <li v-for="all in filteredData">{{all.date}}</li>
  </ul>
    
</div>
  
</template>

<script>
import 'vuetify/dist/vuetify.min.css'


  export default {
  

    
    data
    () {
      return {
        search: '',
        user:[],
        data:'',
        startDate:new Date().toISOString().substr(0, 10),
        endDate:new Date().toISOString().substr(0, 10),
       
    date: new Date().toISOString().substr(0, 10),
      menu: false,
      menu2: false,

        headers: [
          {
            text: 'Name',
            align: 'left',
            sortable: false,
            value: 'name',
          },
          { text: 'type', value: 'type' },
          { text: 'bio', value: 'bio' },
          { text: 'email', value: 'email' },
          { text: 'created_at', value: 'created_at' },
          { text: 'updated_at', value: 'updated_at' },
        ],
      }
    },
    computed:{
      filteredData(){
      var vm =this
      var startDate = vm.startDate;
      var endDate = vm.endDate;
      axios.get('/api/user').then(response=>{this.data = response.data.data})
      
      return_.filter(vm.data.all,(function(data){
        if((_.isNull(startDate) &&_.isNull(endDate))){
          return true
        }else{
          var date  = data.date 
            return(date >=startDate && date <=endDate);
        }
      }))

    }
    },
      methods:{
        
   
      getitem(){
        axios.get('/api/user')
        .then(response=>{
//           this.key =response.data.data
//    this.key.forEach((value, key) => {
    
//     console.log(value);
//     console.log(key);
// });
          console.log(response.data.data)
          this.user = response.data.data
    
                  
        })
      },
    },
    created(){
      this.getitem()
    },
  }
</script>












<template>
<div>
  <input type="date" v-model="startDate">
  <input type="date" v-model="endDate">
  <ul>
    <li v-for="all in filteredData">{{all.date}}</li>
  </ul>
</div>
</template>

<script>
export default {
  computed:{
    filteredData(){
      var vm =this
      var startDate = vm.startDate;
      var endDate = vm.endDate;
      return_.filter(vm.data.all,(function(data){
        if((_.isNull(startDate) &&_.isNull(endDate))){
          return true
        }else{
          var date  = data.date 
            return(date >=startDate && date <=endDate);
        }
      }))

    }
    },
     data(){
    return{
       startDate:null,
      endDate:null,
       data:{
         all:[
      {
        note:'shopping',
        "date":"2019-12-29"
    },
      {
        note:'hobby',
        "date":"2019-12-19"
    },
      {
        note:'coffee',
        "date":"2019-12-10"
    }
    ]}
    }
  },
  }
  

</script>