 <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
       
      #map {
          /* overflow-x: initial !important; */
        position:unset !important;
        height: 100%;
        margin-right: 40% !important;
      }
      /* Optional: Makes the sample page fill the window. */
      /* html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      } */
      #floating-panel {
        position: absolute;
        top: 10px;
        left: 25%;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
        text-align: center;
        font-family: 'Roboto','sans-serif';
        line-height: 30px;
        padding-left: 10px;
      }
      #floating-panel {
        position: absolute;
        top: 5px;
        left: 50%;
        margin-left: -180px;
        width: 350px;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
      }
      #latlng {
        width: 225px;
      }
    </style>
<template>
<div>
     <div id="floating-panel">
      <input id="latlng" type="text" value="27.680607799999997,85.3470298">
      <input id="submit" type="button" value="Reverse Geocode">
          

    </div>
    <div id="map" ></div>

</div>
   
</template>


<script>
import { Script } from 'vm';
export default {
    computed:{
        
    }
    
}
</script>

<script>
        $(document).ready(function(){
            // console.log(document.getElementById('map'))
            initMap();
          function initMap() {
              var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 8,
                center: {lat: 40.731, lng: -73.997}
              });
              var geocoder = new google.maps.Geocoder;
              var infowindow = new google.maps.InfoWindow;
      
              document.getElementById('submit').addEventListener('click', function() {
                geocodeLatLng(geocoder, map, infowindow);
              });
            }
      
            function geocodeLatLng(geocoder, map, infowindow) {
              var input = document.getElementById('latlng').value;
              var latlngStr = input.split(',', 2);
              var latlng = {lat: parseFloat(latlngStr[0]), lng: parseFloat(latlngStr[1])};
              geocoder.geocode({'location': latlng}, function(results, status) {
                if (status === 'OK') {
                  if (results[0]) {
                    map.setZoom(11);
                    var marker = new google.maps.Marker({
                      position: latlng,
                      map: map
                    });
                    infowindow.setContent(results[0].formatted_address);
                    console.log(results);
                    infowindow.open(map, marker);
                  } else {
                    window.alert('No results found');
                  }
                } else {
                  window.alert('Geocoder failed due to: ' + status);
                }
              });
            }
      })
      </script>
      


