<template>
    <div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 mt-4">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title"> User Work Details </h3>


                        </div>
                        <!-- /.card-header -->
                        <div class="card-body table-responsive p-0">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>SN</th>
                                    <th>User Name</th>
                                    <th>CheckIn Time</th>
                                    <th>CheckOut Time</th>
                                    <th>Working Time(In Min)</th>
                                    <th>Payment</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="(check,index) in check_ins" :key="index">

                                    <td>{{index+1}}</td>
                                    <td>{{check.user.name}}</td>
                                    <td>{{check.intime}}</td>
                                    <td>{{check.outtime}}</td>
                                    <td>{{check.min}}</td>

                                    <td>{{parseInt(check.min/15)*(userpayment/4)}}</td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>

                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data(){
            return{
                checkin_id:'',
                reportData: [],
                picker: null,
                users: {},
                check_ins: {},


            }
        },
        props: [],
        computed: {},
        components:{
        },
        watch: {},
        mounted() {
            console.log('Component mounted.')
            this.userpayment = $('meta[name="user_payment"]').attr('content');
        },
        methods:{
            loadCheckin(){
                if(this.$gate.isAdmin()){
                    axios.get("api/checkin/list").then(({data}) => (this.check_ins = data.data));
                }
            },
        },
        created() {
            this.loadCheckin();
        }
    }
</script>
