<template>
    <div>

            <!-- Messages Dropdown Menu -->

            <li class="nav-item dropdown" id = "notification-li">
                <a @click="resetCount" class="nav-link" data-toggle="dropdown" href="#">
                    <i class="fas fa-bell" style="font-size:22px" ></i>
                    <span class="badge badge-danger navbar-badge" v-show="count"> {{count}}</span>
                </a>

                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right" style="max-height:200px;overflow:auto">

                    <div v-for="(data,index) in notificationData" :key="index">

                        <a href="#" class="dropdown-item">

                            <div class="media">
                                <ul>
                                    <li>
                                    <h6 class="name"><strong>{{data.name}} has logged in</strong><h6> at {{data.created_at}}.</h6></h6>
                                </li></ul>
                            </div>
                        </a>

                    </div>

                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item dropdown-footer">See All Messages</a>

                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item dropdown-footer">No new notifications</a>

                </div>
            </li>
    </div>

</template>
<script>
    import axios from 'axios'
    export default {
        name:  'notifications',
        data(){
            return{
                notificationData:'',
                count:'',

            }
        },
        methods:{
            async fetchData(){
                let response=  await axios.get('api/notification')
                this.notificationData=response.data
            },
            resetCount(){
                this.count=null
            }
        },
        mounted() {

            // this.fetchData()
            console.log('mounted notificationa')
            window.Echo.channel('user')
                .listen('event',(e)=>{
                    console.log("event")
                    console.log(e)
                    this.count++
                    this.notificationData=e.user
                });

        }
    }
</script>
