<template>
    <div>
        <div class="container">
            <div class="row mt-5">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Organization List</h3>
                            <div class="card-tools">
                                <button class="btn btn-success" data-toggle="modal"
                                        data-target=".bd-organization-modal-lg">
                                    Add New Organization
                                    <i class="fas fa-user-plus fa fw"></i>
                                </button>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body table-responsive p-0">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>S.No.</th>
                                    <th>Organization Name</th>
                                    <th>Supervisor</th>
                                    <th>Status</th>
                                    <th>Action</th>

                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="(organization,index) in organizations" :key="index">
                                    <td>{{index+1}}</td>


                                    <td>{{organization.name}}</td>
                                    <td>{{organization.user.name}}</td>
                                    <td>{{organization.status}}</td>
                                    <td>


                                        <!-- <button class="btn btn-light" > -->
                                        <router-link
                                            :to="`/organization/show/${organization.id}`"
                                        >
                                            <i class="fa fa-eye fa fw" style="font-size:18px"></i>
                                        </router-link>&nbsp; |&nbsp;
                                        <!-- </button> -->
                                        <!-- <button class="btn btn-info"> -->
                                        <i class="fa fa-edit fa fw green" style="font-size:18px"
                                           @click="editModal(organization)"></i>
                                        <!-- </button> | -->
                                        |&nbsp;
                                        <!-- <button class="btn btn-danger" @click="deleteOrganization(organization)"> -->
                                        <i class="fa fa-trash fa fw red" style="font-size:18px"
                                           @click="deleteOrganization(organization)"></i>
                                        <!-- </button> -->
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div>
        </div>

        <div class="modal fade bd-organization-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-lg ">
                <div class="modal-content" style="background-color: whitesmoke;z-index:2">
                    <div class="modal-header">
                        <h5 class="modal-title h4" id="myExtraLargeModalLabel">Create New Organization</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form method="get" :action="`/organization`">
                        <div class="row">
                            <div class="col-sm-6 mt-3">
                                <input type="text" placeholder="Organization Name (Required)" class="form-control" v-model="name" required>
                            </div>
                            <div class="col-sm-6 mt-3">
                                <input type="text" placeholder="Location (Required)" class="form-control" v-model="location" required>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-sm-6 mt-3">
                                <input type="number" placeholder="Contact No. (Required)" class="form-control" v-model="contact" required>
                            </div>
                            <div class="col-sm-6 mt-3">
                                <input type="email" placeholder="E-mail (Required)" class="form-control" v-model="email" required>
                            </div>
                        </div>
                        <div class="border border-bottom mt-4"></div>
                        <div class="row text-center ">
                            <div class="col-4 mt-4">
                                <label>No. of Buildings</label>
                                <input type="number" style="width:50px" v-model="buildings" required>
                            </div>
                            <div class="col-4 mt-4">
                                <label>No. of Floors</label>
                                <input type="number" style="width:50px" v-model="floors"  required>
                            </div>
                            <div class="col-4 mt-4">
                                <label>No. of Rooms</label>
                                <input type="number" style="width:50px" v-model="rooms" required>
                            </div>

                        </div>
                        <div class="border border-bottom mt-4"></div>
                            <div class="row">
                                <div class="col-sm-6 mt-4">
                                    <label>Scheduled Date:</label>
                                    <input type="date" style="margin-left: 15px" v-model="date" required>
                                </div>
                                <div class="col-sm-6 mt-4">
                                    <label>Assign To:</label>
                                   <select class="btn btn-primary mt-2" style="font-size: 9px;margin-left: 60px" v-model="selected">
                                       <option disabled value="">Select User</option>
                                       <option>Staff User1</option>
                                       <option>Staff User2</option>
                                       <option>Staff User3</option>
                                   </select>
                                </div>
                            </div>
                            <button class="btn-success mt-3 float-right" type="submit" @click="createOrganization">Submit</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>


        <div
            class="modal fade"
            id="addNew"
            tabindex="-1"
            role="dialog"
            aria-labelledby="addNewLabel"
            aria-hidden="true"
        >
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" v-show="editmode" id="addNewLabel">Update Organization</h5>
                        <!--            <h5 class="modal-title" v-show="!editmode" id="addNewLabel">Add New Organization</h5>-->
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form @submit.prevent="editmode ? updateOrganization(organizations) : createOrganization()">
                        <div class="modal-body">
                            <div class="form-group">
                                <!-- <label for="name">name</label> -->
                                <input type="text" v-model="form.name" class="form-control" placeholder="Name"/>
                                <input type="text" v-model="form.date" class="form-control" placeholder="Date"/>

                                <has-error :form="form" field="name"></has-error>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            <button v-show="editmode" type="submit" class="btn btn-success">Update</button>
                            <button v-show="!editmode" type="submit" class="btn btn-primary">Create</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {

        data() {
            return {
                name:'',
                location:'',
                contact:'',
                email:'',
                buildings:'',
                floors:'',
                rooms:'',
                date:'',
                selected:'',
                status:'',
                user_type:'',
                editmode: false,
                organizations: "",
                form: new Form({
                    id: "",
                    name: "",
                    date: ""
                })
            };
        },
        methods: {

            updateOrganization() {
                this.$Progress.start();
                this.form.put("api/organization/" + this.form.id);

                $("#addNew").modal("hide");
                this.$Progress.finish();
            },

            editModal(organizations) {
                this.editmode = true;
                this.form.reset();
                $("#addNew").modal("show");
                this.form.fill(organizations);
            },
            newModal() {
                this.editmode = false;
                this.form.reset();
                $("#addNew").modal("show");
            },
            deleteOrganization(organizations) {
                this.$Progress.start();
                const url = `/api/organization/${organizations.id}`;
                toast.fire({
                    type: "success",
                    title: "Organization Deleted successfully"
                });
                return axios.delete(url);
                this.$Progress.finish();
            },
            loadOrganizations() {
                axios.get("api/organization").then(response => {
                    console.log(response.data)
                    this.organizations = response.data;
                });
            },
            createOrganization() {
                if(!this.selected){
                    this.status="Unassigned"
                    this.user_type="Admin"
                }
                else{
                    this.status="Assigned"
                    this.user_type="Supervisor"
                }
                axios.post("api/organization", { name:this.name,
                    location:this.location,
                    contact:this.contact,
                    email:this.email,
                    buildings:this.buildings,
                    floors:this.floors,
                    rooms:this.rooms,
                    date:this.date,
                    selected:this.selected,
                    status:this.status,
                    user_type:this.user_type
                }).then(response => {

                    // this.organizations.push(response.data);
                    $(".modal-dialog modal-lg").modal("hide");
                    toast.fire({
                        type: "success",
                        title: "Organization Created successfully"
                    });
                });
            },

        },
        mounted() {
            console.log("hello")
            this.loadOrganizations();
            //  $('.datepicker').pickadate();

        }
    }
</script>


<style>
    aside{
        z-index: 1;
    }
</style>


