<template>
    <div>

        <Modal v-if="modalFloor" :building="modalBuilding" :floor="modalFloor" :organization="organization"></Modal>


        <div class="col-md-12">
            <div class="card">
                <div class="card-header p-2">
                    <ul class="nav nav-pills">
                        <li class="nav-item"><a class="nav-link" href="#activity" data-toggle="tab">Basic Info</a></li>
                        <li class="nav-item"><a class="nav-link active show" href="#settings" data-toggle="tab">Building
                            Info</a></li>
                    </ul>
                </div><!-- /.card-header -->
                <div class="card-body">
                    <div class="tab-content">
                        <!-- Activity Tab -->
                        <div class="tab-pane" id="activity">

                            <div class="row d-inline-flex">
                                <div class="col-sm-6">
                                    <div class="d-flex ">
                                        <div>
                                            <i class="fas fa-city nav-icon pink ml-3" style="font-size: 24px"></i>
                                        </div>
                                        <div>
                                            <label class="bg-success ml-3">
                                                {{organization.name}}
                                            </label>
                                        </div>
                                    </div>

                                    <div class="card-body bg-light">
                                        <div class="row">
                                            <div class="col-5">
                                                <label>Location:</label>
                                            </div>
                                            <div class="col-6">
                                                {{organization.location}}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-5">
                                                <label>Contact:</label>
                                            </div>
                                            <div class="col-6">
                                                {{organization.contact}}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-5">
                                                <label>Email:</label>
                                            </div>
                                            <div class="col-6">
                                                {{organization.email}}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-5">
                                                <label>Assigned To:</label>
                                            </div>
                                            <div class="col-6">
                                                {{organization.user.name}}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-5">
                                                <label>Scheduled On:</label>
                                            </div>
                                            <div class="col-6">
                                                {{organization.scheduled_date}}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-5">
                                                <label>Total Floors:</label>
                                            </div>
                                            <div class="col-6">
                                                {{organization.floors}}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-5">
                                                <label>Rooms:</label>
                                            </div>
                                            <div class="col-6">
                                                {{organization.rooms}}
                                            </div>
                                        </div>
                                        <textarea class="col-sm-12" placeholder="Write a comment..." name="addComment"
                                                  rows="6" cols="50"></textarea>
                                        <button class="btn btn-primary float-right">Add Comment</button>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="d-flex ">
                                        <div>
                                            <i class="fas fa-history pink ml-3" style="font-size: 24px"
                                               aria-hidden="true"></i>
                                        </div>
                                        <div>
                                            <label class="badge-success ml-3">
                                                Activity Log
                                            </label>
                                        </div>
                                    </div>

                                    <div class="card-body bg-light col-sm-11" name="showComment"
                                         style="height:440px;overflow: auto">


                                        <div class="phenom mod-attachment-type">
                                            <div class="phenom-creator">
                                                <div class="member js-show-mem-menu">
                                                    <span class="member-initials"
                                                          title="Admin"
                                                          aria-label="Admin">A</span>
                                                </div>
                                            </div>
                                            <div class="phenom-desc">
                                                <span class="inline-member js-show-mem-menu"
                                                      idmember="5d22c5b66c23ea86049b416f"><span
                                                    class="u-font-weight-bold"><b>Name</b></span>
                                            </span> created <span
                                                class="action-card">a</span> ticket for <b>ABC Organization</b>.
                                            </div>
                                            <div class="phenom-meta quiet"><span
                                                class="date"
                                                dt="2019-09-06T12:12:12.941Z"

                                                title="September 2, 2019 10:57 AM">Sep 2 at 10:57 AM</span><span
                                                class="js-spinner hide"><span
                                                class="spinner spinner--inline mod-left small"></span></span>
                                            </div>
                                        </div>
                                        <div class="border-bottom"></div>
                                        <div class="phenom mod-attachment-type">
                                            <div class="phenom-creator">
                                                <div class="member js-show-mem-menu">
                                                    <span class="member-initials"
                                                          title="Admin"
                                                          aria-label="Admin">A</span>
                                                </div>
                                            </div>
                                            <div class="phenom-desc">
                                                <span class="inline-member js-show-mem-menu"
                                                      idmember="5d22c5b66c23ea86049b416f"><span
                                                    class="u-font-weight-bold"><b>Name</b></span>
                                            </span> assigned <span
                                                class="action-card">organization</span> ticket to <b>Name</b>.
                                            </div>
                                            <div class="phenom-meta quiet"><span
                                                class="date"
                                                dt="2019-09-06T12:12:12.941Z"
                                                href="/c/JlYy9168/3-2#action-5d724d1c429846656097cec5"
                                                title="September 2, 2019 11:25 AM">Sep 2 at 11:25 AM</span><span
                                                class="js-spinner hide"><span
                                                class="spinner spinner--inline mod-left small"></span></span>
                                            </div>
                                        </div>
                                        <div class="border-bottom"></div>
                                        <div class="phenom mod-attachment-type">
                                            <div class="phenom-creator">
                                                <div class="member js-show-mem-menu">
                                                    <span class="member-initials"
                                                          title="Supervisor"
                                                          aria-label="Supervisor">S</span>
                                                </div>
                                            </div>
                                            <div class="phenom-desc">
                                                <span class="inline-member js-show-mem-menu"
                                                      idmember="5d22c5b66c23ea86049b416f"><span
                                                    class="u-font-weight-bold"><b>Name</b></span>
                                            </span> commented <span
                                                class="action-card">"Hello,How are you?"</span>on this ticket for
                                                <b>ABC</b> Organization.
                                            </div>
                                            <div class="phenom-meta quiet"><span
                                                class="date"
                                                dt="2019-09-06T12:12:12.941Z"
                                                href="/c/JlYy9168/3-2#action-5d724d1c429846656097cec5"
                                                title="September 3, 2019 11:30 AM">Sep 3 at 11:30 AM</span><span
                                                class="js-spinner hide"><span
                                                class="spinner spinner--inline mod-left small"></span></span>
                                            </div>
                                        </div>
                                        <div class="border-bottom"></div>
                                        <div class="phenom mod-attachment-type">
                                            <div class="phenom-creator">
                                                <div class="member js-show-mem-menu">
                                                    <span class="member-initials"
                                                          title="Admin"
                                                          aria-label="Admin">A</span>
                                                </div>
                                            </div>
                                            <div class="phenom-desc">
                                                <span class="inline-member js-show-mem-menu"
                                                      idmember="5d22c5b66c23ea86049b416f"><span
                                                    class="u-font-weight-bold"><b>Name</b></span>
                                            </span> assigned <span
                                                class="action-card">organization</span> ticket to <b>Supervisor's
                                                Name</b>.
                                            </div>
                                            <div class="phenom-meta quiet"><span
                                                class="date"
                                                dt="2019-09-06T12:12:12.941Z"
                                                href="/c/JlYy9168/3-2#action-5d724d1c429846656097cec5"
                                                title="September 3, 2019 2:35 AM">Sep 3 at 2:35 AM</span><span
                                                class="js-spinner hide"><span
                                                class="spinner spinner--inline mod-left small"></span></span>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                            <!--                            <div class="d-inline-flex float-right">-->
                            <!--            <span class="badge-secondary float-right mr-1">-->
                            <!--                Past Work History-->
                            <!--            </span>-->
                            <!--                                <i class="fa fa-angle-double-down" style="font-size:24px"></i>-->


                            <!--                            </div>-->

                        </div>
                        <!-- Setting Tab -->
                        <div class="tab-pane active show" id="settings">


                            <div class="row mb-3">
                                <div class="col-12">
                                    <button class="btn btn-success float-right" data-toggle="modal"
                                            data-target="#exampleModal">
                                        Add New Building
                                        <i class="fas fa-user-plus fa fw"></i>
                                    </button>
                                </div>

                                <!-- Modal -->
                                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                                     aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content" style="background-color: whitesmoke">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Add New Building</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <input type="text" placeholder="Building's Name" class="form-control" v-model="building"
                                                       required>
                                                <div class="border-bottom mt-3"></div>
                                                <div class="row text-center mt-3">
                                                    <div class="col-6">
                                                        <label>No. of Floors</label>
                                                        <input type="number" style="width:50px" v-model="floors"
                                                               required>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary mr-2" data-dismiss="modal">
                                                    Close
                                                </button>
                                                <button type="submit" class="btn btn-primary mr-3 " @click="updateBuilding" data-dismiss="modal">
                                                    Add
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--                                        </div>-->

                            <!-- /.card-header -->
                            <!--                                        <div class="card-body table-responsive p-0">-->
                            <div class="row d-flex">
                                <div class="col-sm-4" v-for="(building,b_index) in buildings" :key="b_index">
                                    <div class="card" style="max-height: 400px;overflow: auto">
                                        <div class="card-header">
                                            <h4 class="card-title">
                                                Building [{{building.name}}]
                                            </h4>
                                            <div class="card-tools">
                                                <button
                                                    :id="'minus'+b_index"
                                                    type="button"
                                                    class="btn btn-tool"
                                                    data-toggle="collapse"
                                                    :data-target="'#collapseExample'+b_index"
                                                    @click="buildingMinusHide(b_index)"
                                                    style="display: none"
                                                >
                                                    <i class="fas fa-minus"></i>
                                                </button>
                                                <button
                                                    :id="'plus'+b_index"
                                                    type="button"
                                                    class="btn btn-tool"
                                                    data-toggle="collapse"
                                                    :data-target="'#collapseExample'+b_index"
                                                @click="buildingPlusHide(b_index)">
                                                    <i class="fas fa-plus"></i>
                                                </button>
                                                <button
                                                    type="button"
                                                    class="btn btn-tool"
                                                    data-toggle="tooltip"
                                                    title="Remove"
                                                    @click="deleteBuilding(b_index,building)"
                                                >
                                                    <i class="fas fa-times"></i>
                                                </button>
                                            </div>
                                            <!--                                                            <i class="fa fa-minus float-right" ></i>-->
                                            <!--                                                            </h3>-->
                                        </div>
                                        <div class="collapse" :id="'collapseExample'+b_index">
                                            <!--                                                <div class="addFloor" >-->

                                            <!--                                                </div>-->
                                            <div class="card-body"
                                                 style="background-color:#ffffff;margin-bottom: -30px;margin-top: -10px"
                                                 v-for="(floor,f_index) in building.floor" :key="f_index">
                                                <div >
                                                    <i class="fas fa-window-close float-right"
                                                       style="font-size:18px;cursor:pointer;float:right;"
                                                       @click="deleteFloor(b_index,f_index,floor.id)"></i>
<!--                                                    <router-link-->
<!--                                                        :to="`/organization/show/${organization.id}/${building.id}/${floor.id}`"-->
<!--                                                    >-->
                                                        <div id="floor" data-toggle="modal"
                                                             data-target=".bd-example-modal-lg" @click="showModal(building,floor)">


                                                            <h6 class="red ml-3">Floor [{{floor.name}}]</h6>
                                                            <h6 v-if="floor.room" class="text-center mb-1">{{floor.room.length}} rooms</h6>


                                                        </div>
<!--                                                    </router-link>-->

                                                </div>
                                            </div>
                                            <div class="text-center" :id="'textArea'+b_index" style="display:none">
                                                <div class="row mt-4 mb-3">
                                                    <div class="col-6">
                                                        <input type="text"
                                                            placeholder="Enter Floor name"
                                                               style="width: 130px;margin-left: 10px;margin-right: 5px"
                                                            v-model="floorName[b_index]">

                                                    </div>
                                                    <div class="col-5 ml-3">
                                                        <input type="number"
                                                               placeholder="No. of Rooms"
                                                               style="width: 95px;margin-right: 10px"
                                                               v-model="noofRooms[b_index]">
                                                    </div>
                                                </div>

                                                <button class="btn btn-success" style="font-size: 10px"
                                                        @click="addFloor(b_index,f_index,building)">
                                                    Save
                                                </button>
                                                <button class="btn btn-danger" style="font-size: 10px"
                                                        @click="closeAddFloor(b_index)">
                                                    Close
                                                </button>

                                            </div>
                                            <div class="addFloor">
                                                <i class="fas fa-plus mt-3 mb-2 mr-2 float-right"
                                                   @click="showAddFloorTab(b_index)"
                                                   style="color:#c7c7c7;text-decoration: underline;cursor:pointer">
                                                    Add floor</i>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>


                            <!--                                        </div>-->
                            <!-- /.card-body -->
                            <!--                                    </div>-->
                            <!-- /.card -->
                            <!--                                </div>-->
                            <!--      </div>-->


                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</template>

<script>
    import Modal from "./FloorModal.vue"

    export default {
        components: {Modal},
        data() {
            return {
                modalBuilding:'',
                modalFloor:'',
                building:'',
                noofRooms:[],
                floorName: [],
                showAddFloor: false,
                floors: '',
                rooms: '',
                editmode: false,
                organization: "",
                buildings: [],
                id: this.$route.params.id,
                form: new Form({
                    'id': '',
                    'organization_id': '',
                    'name': '',
                    'floor': ''
                })
            };
        },
        methods: {
            showModal(building,floor){
                this.modalBuilding=building
                this.modalFloor=floor
                    $(".bd-example-modal-lg").modal("show")
            },

            getOrganization() {
                axios.get('/api/organization/' + this.id)
                    .then(response => {
                        this.buildings = response.data[0].building
                        this.organization = response.data[0]
                    })

            },
            showAddFloorTab(index) {
                var x = document.getElementById('textArea' + index)
                x.style.display = "block"
            },
            closeAddFloor(index) {
                var x = document.getElementById('textArea' + index)
                x.style.display = "none"
            },
            async updateBuilding() {
                this.$Progress.start();
                let response = await axios.post('/api/building/' + this.organization.id,{building: this.building,floors:this.floors})
                this.buildings.push(response.data)
                // $("#addNew").modal("hide");
                this.$Progress.finish();
            },
            async addFloor(b_index,f_index, building) {
                let response = await axios.post('/api/floor/edit/' + building.id, {floorName: this.floorName[b_index],noofRooms: this.noofRooms[b_index]})
               console.log(response.data)
                this.buildings[b_index].floor.push(response.data)
                // this.buildings[b_index].floor[f_index].room.push(response.data)
                // this.showAddFloor=false
                this.floorName[b_index] = ''
                this.noofRooms[b_index] = ''
            },
            async deleteFloor(b_index, f_index, floor_id) {
                if (confirm("Are you sure want to delete?")) {
                    let response = await axios.post('/api/floor/delete/' + floor_id)
                    this.buildings[b_index].floor.splice(f_index, 1)
                    toast.fire({
                        type: "success",
                        title: "building Deleted successfully"
                    });

                }
                else {

                }

            },
            editModal(building) {
                this.editmode = true;
                this.form.reset();
                $("#addNew").modal("show");
                this.form.fill(building);
            },
            newModal() {
                this.editmode = false;
                this.form.reset();
                $("#addNew").modal("show");
            },

            async deleteBuilding(b_index, building) {
                if (confirm("Are you sure want to delete?")) {
                    await axios.delete('/api/building/' + building.id)
                    this.buildings.splice(b_index, 1)
                    toast.fire({
                        type: "success",
                        title: "Building Deleted Successfully"
                    });

                } else {

                }

            },
            buildingPlusHide(index){
                $('#plus'+index).hide()
                $('#minus'+index).show()
                // var y = document.getElementById('minus' + index)
                // x.style.display = "block"
            },
            buildingMinusHide(index){
                $('#minus'+index).hide()
                $('#plus'+index).show()
            },


            // deleteBuilding(building) {
            //   this.$Progress.start();
            //   const url = `/api/building/${building.id}`;
            //   toast.fire({
            //     type: "success",
            //     title: "building Deleted successfully"
            //   });
            //   return axios.delete(url);
            //   this.$Progress.finish();
            // },
            // loadBuilding() {
            //   axios.get("/api/building").then(response => {
            //     this.buildings =response.data;
            //   });
            // },
            createBuilding() {
                this.$Progress.start();
                axios.post("/api/building", this.form).then(response => {
                    this.buildings.push(response.data);
                    $("#addNew").modal("hide");
                    toast.fire({
                        type: "success",
                        title: "building Created successfully"
                    });
                    this.$Progress.finish();
                });
            },

        },
        created() {
            this.getOrganization();
            // this.loadBuilding();
        }
    }
</script>
<style>
    #floor {
        background-color: whitesmoke;
        /*border:1px solid grey;*/
        box-sizing: border-box;
        /*padding: 5px;*/
        /*box-shadow:5px red;*/
        border-radius: 5px;
        cursor: pointer;
    }

    #floor:hover {
        background-color: #dbdbdb;
        /*height: 75px;*/
    }

    .addFloor:hover {
        background-color: #1b1e21;
        cursor: pointer;

    }

    .room:hover {
        height: 40px;
        width: 100px;
    }

    .list-card-edit-title {
        background-color: #fff;
        border: 1px solid transparent;
        box-shadow: none;
    }

    .member-initials {
        display: block;
        font-size: 12px;
        font-weight: 700;
        height: 32px;
        left: 0;
        line-height: 32px;
        overflow: hidden;
        position: absolute;
        text-align: center;
        top: 0;
        width: 100%;
    }

    .member-initials:hover {
        color: #a2a2a2;
    }

    .phenom {
        margin-left: 40px;
        min-height: 32px;
        padding: 8px 0;
        position: relative;
    }

    .phenom-creator, .phenom-icon {
        height: 32px;
        left: -40px;
        position: absolute;
        top: 8px;
        width: 32px;
    }

    .member {
        background-color: #dfe1e6;
        border-radius: 25em;
        color: #172b4d;
        cursor: pointer;
        display: block;
        float: left;
        height: 32px;
        margin: 0 4px 4px 0;
        overflow: visible;
        position: relative;
        width: 32px;
        text-decoration: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        z-index: 0;
    }

    .date {
        color: grey;
    }

    .phenom.mod-attachment-type:hover {
        background-color: #e3e3e3;
    }

</style>
