<template>
    <div class="card">
        <!-- {{reportData}}-->
        <div class="card-header border-0">
            <h3 class="card-title">This Week Working Hour </h3>
            <div class="card-tools">
                Per Hour: {{userpayment}}
       <!-- $pay= {{userpayment/4}};-->
            </div>
        </div>
        <div class="card-body p-0">
            <table class="table table-striped table-valign-middle">
                <thead>
                <tr>
                    <th>SN</th>
                    <th>Date</th>
                    <th>Check In Time</th>
                    <th>Chekout Time</th>
                    <th>Total Working Time</th>
                    <th>Total Price</th>
                </tr>
                </thead>
                <tbody>
                <tr  v-for="(report,index) in reportData.data" :key="index">
                    <td>{{index+1}}</td>
                    <td>{{report.created_at | newdata}}</td>
                    <td>{{report.intime}}</td>
                    <td>{{report.outtime}}</td>
                    <td>{{report.min}}</td>
                    <td>{{parseInt(report.min/15)*(userpayment/4)}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                userpayment:''
            }
        },
        props: ['reportData'],
        computed: {},
        components: {},
        mounted() {
            this.userpayment = $('meta[name="user_payment"]').attr('content');

        },
        methods: {

        }
    }
</script>
