
<template>
    <div>
        <div class="container">
            <div class="row mt-5" v-if="$gate.isAdmin()">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Room List Table</h3>

                            <div class="card-tools">
                            <button class="btn btn-success" @click="newModal">Add New Room <i class="fas fa-user-plus fa fw"></i></button>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body table-responsive p-0">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>SN</th>
                                    <th>Name</th>
                                    <th>Number</th>
                                    <th>Room Type</th>
                                    <th>Floor</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="(room,index) in rooms" :key="index" >
                                    <td>{{index+1}}</td>
                                    <td>{{room.name}}</td>
                                    <td>{{room.room_number}}</td>
                                    <td>{{room.room_type}}</td>
                                    <td>{{room.floor}}</td>
                                    <td>
                                        <button class="btn btn-info" @click="editModal(room)"> <i class="fa fa-edit fa fw"></i></button>
                                        <button class="btn btn-danger" @click="deleteRoom(room)"> <i class="fa fa-trash fa fw" ></i></button>
                                    </td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div>
        </div>
        <div v-if="!$gate.isAdmin()">
            <not-found></not-found>
        </div>
        <div class="modal fade" id="addNew" tabindex="-1" role="dialog" aria-labelledby="addNewLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" v-show="editmode"  id="addNewLabel"> Update Room</h5>
                        <h5 class="modal-title" v-show="!editmode"  id="addNewLabel"> Add New Room</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form @submit.prevent="editmode ? updateRoom(rooms) : createRoom()">
                    <div class="modal-body">
                        <div class="form-group">
                            <input v-model="form.name" type="text" name="name" placeholder="Enter Room Name"
                                   class="form-control" :class="{ 'is-invalid': form.errors.has('name') }">
                            <has-error :form="form" field="name"></has-error>
                        </div>
                        <div class="form-group">
                            <input v-model="form.room_number" type="text" name="room_number" placeholder="Enter Room Number"
                                   class="form-control" :class="{ 'is-invalid': form.errors.has('room_number') }">
                            <has-error :form="form" field="room_number"></has-error>
                        </div>
                        <div class="form-group">
                            <input v-model="form.floor" type="text" name="floor" placeholder="Enter Room Floor"
                                   class="form-control" :class="{ 'is-invalid': form.errors.has('floor') }">
                            <has-error :form="form" field="floor"></has-error>
                        </div>
                        <div class="form-group">
                            <select name="room_type" v-model="form.room_type" id="room_type"
                                  class="form-control" :class="{ 'is-invalid': form.errors.has('room_type') }">
                                <option value=""> Select Room Type</option>
                                <option value="single">Single</option>
                                <option value="double">Double</option>
                                <option value="triple">Triple</option>
                                <option value="king">King</option>
                                <option value="queen">Queen</option>
                                <option value="studio">Studio</option>
                            </select>
                            <has-error :form="form" field="type"></has-error>
                        </div>
                        <div class="form-group">
                            <textarea v-model="form.description" name="description" id="description" placeholder="Short description for Room"
                                      class="form-control" :class="{ 'is-invalid': form.errors.has('description') }">
                            </textarea>
                            <has-error :form="form" field="description"></has-error>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        <button v-show="editmode" type="submit" class="btn btn-success">Update</button>
                        <button v-show="!editmode" type="submit" class="btn btn-primary">Create</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data(){
                return{
                    editmode: false,
                    rooms : {},
                    form: new Form({
                        id: '',
                        name: '',
                        room_number: '',
                        floor: '',
                        room_type: '',
                        description: ''
                    })
                }
        },
        methods: {
            updateRoom(){
                this.$Progress.start()
                this.form.put('api/room/'+this.form.id)
                $('#addNew').modal('hide')
                toast.fire({
                    type: 'success',
                    title: 'Room Updated successfully'
                })
                this.$Progress.finish()
            },
            editModal(room){
                this.editmode =true;
                this.form.reset();
                $('#addNew').modal('show')
                this.form.fill(room);
            },
            newModal(){
                this.editmode =false;
                this.form.reset();
                $('#addNew').modal('show')
            },
            deleteRoom(room){
                const url = `/api/room/${room.id}`;
                return axios.delete(url),
                toast.fire({
                    type: 'success',
                    title: 'Room Deleted successfully'
                })

            },


            loadRooms(){
                if(this.$gate.isAdmin()) {
                    axios.get("api/room").then(({data}) => (this.rooms = data.data));
                }
                },
            createRoom(){
                this.$Progress.start()
                axios.post('api/room',this.form).then(response =>{
                    console.log(response)
                    this.rooms.push(response.data)
                    $('#addNew').modal('hide')
                    toast.fire({
                        type: 'success',
                        title: 'Room Created successfully'
                    })
                    this.$Progress.finish()
                })

            }
        },
        created() {
           this.loadRooms();
        }


    }
</script>
