<template>
  <div>
    <div class="container">
      <div class="row mt-5">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Service List Table</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Room_number</th>
                    <th>Remark</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(service,index) in services" :key="index">
                    <td>{{index+1}}</td>
                    <td>
                      <a
                        class="btn btn-primary mr-1"
                        v-for="(room_number,index) in service.room_number"
                        :key="index"
                      >{{room_number}}</a>
                    </td>
                    <td>{{service.remark}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import Multiselect from "vue-multiselect";
export default {
  components: {
    Multiselect
  },
  data() {
    return {
      editmode: false,
      services: [],
      rooms: [],
      selectedRoom: [],
      number: [],
      userid: "",
      form: new Form({
        id: "",
        userid: "",
        room_number: "",
        remark: ""
      })
    };
  },
  methods: {
    newModal() {
      this.editmode = false;
      this.form.reset();
      $("#addNew").modal("show");
    },

    loadServices() {
      axios
        .get(`api/service?userid=${this.userid}`)
        .then(({ data }) => (this.services = data.data));
    },
    createService() {
      this.$Progress.start();
      // this.form.post('api/user')
      this.form["userid"] = this.userid;
      // console.log(this.form.userid)
      // debugger

      axios.post("api/service", this.form).then(response => {
        // console.log(response);
        this.services.push(response.data);
        $("#addNew").modal("hide");
        toast.fire({
          type: "success",
          title: "service Created successfully"
        });
        this.$Progress.finish();
      });
    }
  },
  created() {
    this.userid = $('meta[name="user_id"]').attr("content");

    this.form.userid = this.userid;
    // console.log(this.form.userid);
    // console.log(this.form.user_id)
    this.loadServices();
    // this.user();
    // setInterval(function(){this.loadUsers()},3000);
  }
};
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
