
<template>
    <div>
        <div class="container">
            <div class="row mt-5" v-if="$gate.isAdmin()">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">User List Table</h3>
                            <div class="card-tools">
                            <button class="btn btn-success" @click="newModal">Add New User <i class="fas fa-user-plus fa fw"></i></button>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body table-responsive p-0">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Phone</th>
                                    <th>Email</th>
                                    <th>User Type</th>
                                    <th>Payment Per Hour</th>
                                    <th>Registered At</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="(user,index) in users" :key="index">
                                    <td>{{index+1}}</td>
                                    <td>{{user.name | upText}}</td>
                                    <td>{{user.phone}}</td>
                                    <td>{{user.email}}</td>
                                    <td>{{user.type | upText}}</td>
                                    <td>{{user.payment}}</td>
                                    <td>{{user.created_at | newdata}}</td>
                                    <td class="d-flex align-items-baseline">

                                        <router-link
                                            :to="`/userdetail/${user.id}`"
                                            class="users-list-name"
                                        ><i class="fa fa-eye fa fw"> </i></router-link>&nbsp|&nbsp
                                         <i class="fa fa-edit fa fw" @click="editModal(user)"></i>&nbsp|&nbsp
                                        <i class="fa fa-trash fa fw"  @click="deleteUser(user)"></i>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>
            </div>
        </div>
        <div v-if="!$gate.isAdmin()">
            <not-found></not-found>
        </div>
        <div class="modal fade" id="addNew" tabindex="-1" role="dialog" aria-labelledby="addNewLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" v-show="editmode"  id="addNewLabel"> Update User</h5>
                        <h5 class="modal-title" v-show="!editmode"  id="addNewLabel"> Add New User</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form @submit.prevent="editmode ? updateUser(user) : createUser()">
                    <div class="modal-body">
                        <div class="form-group">
                            <input v-model="form.name" type="text" name="name" placeholder="Enter User Full Name"
                                   class="form-control" :class="{ 'is-invalid': form.errors.has('name') }">
                            <has-error :form="form" field="name"></has-error>
                        </div>
                        <div class="form-group">
                            <input v-model="form.email" type="text" name="email" placeholder="Enter User Email"
                                   class="form-control" :class="{ 'is-invalid': form.errors.has('email') }">
                            <has-error :form="form" field="email"></has-error>
                        </div>
                        <div class="form-group">
                            <input v-model="form.phone" type="text" name="phone" placeholder="Enter User Phone Number"
                                   class="form-control" :class="{ 'is-invalid': form.errors.has('phone') }">
                            <has-error :form="form" field="phone"></has-error>
                        </div>
                        <div class="form-group">
                            <input v-model="form.password" type="password" name="password" placeholder="Enter a Password"
                                   class="form-control" :class="{ 'is-invalid': form.errors.has('password') }">
                            <has-error :form="form" field="password"></has-error>
                        </div>
                        <div class="form-group">
                            <textarea v-model="form.bio" name="bio" id="bio" placeholder="Short bio for User"
                                      class="form-control" :class="{ 'is-invalid': form.errors.has('bio') }">
                            </textarea>
                            <has-error :form="form" field="bio"></has-error>
                        </div>
                        <div class="form-group">
                            <select name="type" v-model="form.type" id="type"
                               class="form-control" :class="{ 'is-invalid': form.errors.has('type') }">
                                <option value=""> Select User Type</option>
                                <option value="admin">Admin</option>
                                <option value="user">User</option>
                            </select>
                            <has-error :form="form" field="type"></has-error>
                        </div>
                        <div class="form-group">
                            <input v-model="form.payment" type="text" name="payment" placeholder="Enter Payment Per Hour "
                                   class="form-control" :class="{ 'is-invalid': form.errors.has('payment') }">
                            <has-error :form="form" field="payment"></has-error>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        <button v-show="editmode" type="submit" class="btn btn-success">Update</button>
                        <button v-show="!editmode" type="submit" class="btn btn-primary">Create</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data(){
                return{
                    editmode: false,
                    users : {},
                    form: new Form({
                        id: '',
                        name: '',
                        email: '',
                        phone: '',
                        password: '',
                        type: '',
                        bio: '',
                        photo: '',
                        payment: ''
                    })
                }
        },
        methods: {
            viewUser(user){

            },
            updateUser(){
                this.$Progress.start()
                    this.form.put('api/user/'+this.form.id)
                $('#addNew').modal('hide')
                toast.fire({
                    type: 'success',
                    title: 'User Updated successfully'
                })
                        this.$Progress.finish()


            },
            editModal(user){
                this.editmode =true;
                this.form.reset();
                $('#addNew').modal('show')
                this.form.fill(user);
            },
            newModal(){
                this.editmode =false;
                this.form.reset();
                $('#addNew').modal('show')
            },
            deleteUser(user){
                const url = `/api/user/${user.id}`;
                toast.fire({
                    type: 'success',
                    title: 'User Deleted successfully'
                })
                return axios.delete(url);
            },


            loadUsers(){
                     if(this.$gate.isAdmin()){
                         axios.get("api/user").then(({data}) => (this.users = data.data));
                     }
                },
            createUser(){
                this.$Progress.start()
                // this.form.post('api/user')
                axios.post('api/user',this.form).then(response =>{
                    console.log(response)
                    this.users.push(response.data)
                    $('#addNew').modal('hide')
                    toast.fire({
                        type: 'success',
                        title: 'User Created successfully'
                    })
                    this.$Progress.finish()
                })

            }
        },
        created() {
           this.loadUsers();
           // setInterval(function(){this.loadUsers()},3000);
        }


    }
</script>
