<template>
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Projects Detail</h3>

            <div class="card-tools">
                <button
                    type="button"
                    class="btn btn-tool"
                    data-widget="collapse"
                    data-toggle="tooltip"
                    title="Collapse"
                >
                    <i class="fas fa-minus"></i>
                </button>

            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-8 order-2 order-md-1">
                    <div class="row">
                        <div class="col-12 col-sm-4">
                            <div class="info-box bg-light">
                                <div class="info-box-content">
                                    <span class="info-box-text text-center text-muted">Estimated budget</span>
                                    <span class="info-box-number text-center text-muted mb-0">2300</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-4">
                            <div class="info-box bg-light">
                                <div class="info-box-content">
                                    <span class="info-box-text text-center text-muted">Total amount spent</span>
                                    <span class="info-box-number text-center text-muted mb-0">2000</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-4">
                            <div class="info-box bg-light">
                                <div class="info-box-content">
                                    <span class="info-box-text text-center text-muted">Estimated project duration</span>
                                    <span class="info-box-number text-center text-muted mb-0">
                    20
                    <span></span>
                  </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div  class="row">
                        <div class="col-12">
                            <div class="alert alert-info alert-dismissible">
                                <h5><i class="icon fas fa-info"></i> Recent Activites</h5>
                                All works done!!
                            </div>
                            <!-- <h4 class="alert-infox">Recent Activity</h4> -->
                            <div v-for="service in services" :key="service.id" class="post">
                                <div class="user-block">
                                    <h3 class="text-default">
                                        <i class="fas fa-calendar-alt"></i> Date
                                    </h3>
                                    <h1 class="text-default">{{service.created_at}}</h1>
                                </div>
                                <h2 class="text-default">
                                    <i class="fas fa-door-open"></i> Serve Room Number
                                </h2>
                                <h1
                                    class="text-default"
                                    v-for="(room_number,index) in service.room_number"
                                    :key="index"
                                >
                                    <div class="row">
                                        <div class="col-md-2">{{room_number}}</div>
                                    </div>
                                </h1>
                                <h5 class="text-default" >
                                    <i class="fas fa-pen-nib"></i>Remark
                                </h5>
                                <div class="callout callout-danger">
                                    <!-- <h5>I am a danger callout!</h5> -->

                                    <p>{{service.remark}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-12 col-lg-4 order-1 order-md-2">
                    <h3 class="text-primary">
                        <i class="fas fa-user"></i>
                        {{user.name}}
                    </h3>
                    <p class="text-muted">{{user.type}}</p>
                    <br />
                    <div class="text-muted">
                        <p class="text-sm">
                            Email Address
                            <b class="d-block">{{user.email}}</b>
                        </p>
                        <p class="text-sm">
                            Phone Number
                            <b class="d-block">{{user.phone}}</b>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</template>


<script>
    export default {
        data() {
            return {
                user: "",
                services: "",
                userid: "",
                id: this.$route.params.id
            };
        },
        mounted() {
            // this.userid = $('meta[name="user_id"]').attr('content');
            this.getuser();
            this.getuserservice();

            // axios.get(`/api/service/?userid=${this.userid}`).then(response =>{
            //   this.services = response
            //   console.log(this.services)
            // })
        },
        methods: {
            getuser() {
                axios.get("/api/user/" + this.id).then(response => {
                    this.user = response.data;
                    console.log(this.user);
                });
            },
            getuserservice() {
                axios.get(`/api/service/` + this.id).then(response => {
                    console.log(response.data);
                    this.services = response.data;
                });
            }
        }

    };
</script>
